* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Computer Retro;
    border: none;
}

@font-face {
    font-family: Computer Retro;
    src: url(/media/retro_computer_personal_use.ttf)
}

body {
    background-image: url('../../media/');
    background-color: #191919;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
}

canvas {
    background-color: black;
}